<!DOCTYPE html>
<html>
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- vendor/skell -->
  <link rel="stylesheet" type="text/css" href="static/normalize.css">

  {% block vendor %}{% endblock %}

  <!-- my style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <section id="first-section">
  </section>
  {% block first_block %}
  {% endblock %}
</body>

  <!-- vendor scripts -->
  <script
    src="http://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous">
  </script>
  <!-- my scripts -->
  <script src="{% static 'js/snip.js' %}"></script>
</html>

